.archive-container {
    padding: 80px 0;
}

.archive-container .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.food-details {
    margin-right: 50px;
}

.food-details h2,
.food-details p,
.food-details h3 {
    margin-bottom: 20px;
}

.food-details button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.food-image {
    text-align: right;
}

.food-image img {
    width: 80%;
}
