.archive-container {
    padding: 80px 0;
}

.archive-container .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.food-details {
    margin-right: 50px;
}

.food-details h2,
.food-details p,
.food-details h3 {
    margin-bottom: 20px;
}

.add-to-cart {
    display: flex;
    align-items: center;
    gap: 15px;
}

.food-details button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.food-quantity {
    display: inline-flex;
    align-items: center;
    width: min-content;
    border: 1px solid #696969;
    border-radius: 50px;
}

.food-quantity input {
    padding: 10px 5px;
    width: 30px;
    border: none;
    outline: none;
}

.food-quantity button {
    background-color: transparent;
    color: black;
    padding: 10px;
}

.food-image {
    text-align: right;
}

.food-image img {
    width: 80%;
}