.header-container .container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navigation svg {
    cursor: pointer;
}

.navigation a {
    font-weight: 500;
    margin-bottom: 2px;
}

.navigation svg, .navigation a {
    font-size: 18px;
    transition: .3s ease-in-out;
}

.navigation svg:hover, .navigation a:hover {
    color: #f91944;
}