.header-container {
    position: sticky;
    top: 0;
    background-color: #FFF;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    z-index: 10;
}

.header-container .container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.site-logo img {
    cursor: pointer;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navigation svg {
    cursor: pointer;
}

.navigation a {
    font-weight: 500;
    margin-bottom: 2px;
}

.navigation svg, .navigation a {
    font-size: 18px;
    transition: .3s ease-in-out;
}

.navigation svg:hover, .navigation a:hover {
    color: #e8123b;
}