.food-container {
    padding: 80px 0;
    text-align: center;
}

.food-container .container {
    max-width: 950px;
}

.toggle {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    transition: .3s ease-in-out;
    position: relative;
}

.toggle::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #f91944;
    transition: .3s ease-in-out;
}

.toggle:hover::after {
    width: 100%;
}

.active::after {
    width: 100%;
}

.toggle:hover {
    color: #f91944;
}

.filter-toggle {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-transform: capitalize;
}
