* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

p, a {
    font-size: 16px;
}

p {
    color: #696969;
}

h1 {
    font-size: 48px;
    font-weight: 500;
}

h2 {
    font-size: 42px;
    font-weight: 500;
}

h3 {
    font-size: 34px;
    font-weight: 500;
}

button {
    background-color: #f91944;
    color: #FFF;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

button:hover {
    background-color: #f40a37;
}